@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

body, html{
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}
.intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(../images/pexels-photo-292600.jpg) no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}
.intro, .inner{
    width: 100%;
    max-width: none;
}
.inner{
    display: table-cell;
    vertical-align: middle;
}
.content{
    max-width: 600px;
    margin: 15% auto;
    text-align: center;
    padding-bottom: 10%;

}
.content h1{
    font-family: "Yantramanav", sans-serif;
    font-size: 600%;
    font-weight: 100;
    color: #E1DFD9;
    line-height: 70%;
}
.button{
    font-family: "Monserrat", sans-serif;
    font-size: 135%;
    font-weight: 400;
    color:#3A6168;
    text-transform: uppercase;
    text-decoration: none;
    border: solid #3A6168;
    padding: 10px 20px;
    border-radius: 9px;
    transition: all 3ms;
}
.button:hover{
    color: #CBDFD6;
    border: solid #CBDFD6 1px;
    box-shadow: #CBDFD6 0 0 2px;
    
}
/*--- Media Queries --*/
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {
	
}