@import'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';
@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Monsterrat' , sans-serif;
    background: url('../images/pexels-photo-2926001.jpg');
    background-size: cover;
}
.slidebar{
    float: left;
    width: 100px;
    height: 100%;
    background: #3A6168;
    overflow: hidden;
    transition: 0.8s all;
}
.slidebar ul{
    margin: 0;
    padding: 0;
}
.slidebar ul li{
    list-style: none;
}
.slidebar ul li a{
    text-decoration: none;
    color: #ffffff;
    height: 150px;
    width: 100%;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    display: block;
    transition: 0.6s all;
    cursor: pointer;
}
.slidebar ul li a:hover{
    background: rgb(88, 128, 134);
}
.swiper-container{
    position:  absolute;
    left: 16%;
    top: 15%;
    width: 75%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}
.contentBody{
    background: rgba(138, 161, 165, 0.664);
    border: 2px solid #facf5a;
    border-radius: 3px;
    box-shadow: rgb(13, 27, 31) 0 0 10px;
    width: 80%;
    height: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 10px;
    overflow: auto;
}
.likeBtn{
    display: table;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;
    padding: 5px 20px;
    background: #fac83f;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    box-shadow: rgb(11, 21, 22) 0 0 8px;
}
.likeBtn:hover{
    background: #f3d071;
}
.stamp{ 
    position: absolute;
    text-align: right;
    font-size: 15px;
    display: block;
    margin-left: 50%;
    margin-top: 15%;
    font-weight: 500;
    line-height: 5px;
}
.detail{
    margin: 0;
}